body {
  background-color: black;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  height: 300vh;
} 

.main-container {
  color: white;
  display: flex;
  width: 100%;
  max-width: 965px;
}

/* Left Column */

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: auto;
}

.twitter-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: none;
  color: white;
  padding: 0.8rem 0.8rem;
  border: 0;
}

.menu-button:hover {
  cursor: pointer;
  background-color: rgb(24, 24, 24, 0.6);
  border-radius: 3rem;
}

.ghost-home-icon {
  display: inline-flex;
  gap: 100px;
}

.button-icon {
  margin-right: 10px;
}

#menu-tweet-button {
  width: 100%;
}

#tweet-button .fa-pen {
  display: none;
}

#tweet-button {
  color: white;
  background-color: rgb(255, 136, 0);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 3rem;
  cursor: pointer;
}

#current-account-button {
  color: white;
  border: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  width: 100%;
}

#current-account-button:hover {
  cursor: pointer;
  background-color: rgb(24, 24, 24, 0.6);
  border-radius: 3rem;
}

/* Right Column  */

.right-column {
  padding: 1rem;
}

.search-bar {
  position: relative;
}

.search-bar input {
  border-radius: 30px;
  border: 1px solid rgb(255, 136, 0);
  padding: 10px 0 10px 40px;
  background-color: rgb(43, 43, 43);
}

.search-bar input:hover {
  border-color: rgb(255, 136, 0);
}

.search-bar i {
  position: absolute;
  left: 15px;
  top: 13px;
}

.middle-column {
  color: white;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid white;
  border-right: 1px solid white;
  flex-grow: 2;
  width: 100%;
}

/* Messages Window */
.messages-window {
  position: fixed;
  bottom: 0;
  right: 1rem;
  width: 350px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #9ecaed;
  /* border-top-left-radius: 3rem; */
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 4px #9ecaed;
}

.msg-window-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #9ecaed;
  height: 35px;
}

.msg-window-header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#new-dm-button {
  display: flex;
  justify-content: center;
  color: white;
  background-color: transparent;
  border-color: transparent;
  border-radius: 1rem;
  height: 35px;
  width: 35px;
  padding: 1.1rem;
}

#new-dm-button:hover {
  background-color: rgb(24, 24, 24, 0.6);
}

#expand-messages-button {
  display: flex;
  justify-content: center;
  color: white;
  background-color: transparent;
  border-color: transparent;
  border-radius: 1rem;
  height: 35px;
  width: 35px;
  padding: 1.1rem;
}

#expand-messages-button:hover {
  background-color: rgb(24, 24, 24, 0.6);
}

.msg-window-body {
  padding: 0.5rem;
  height: 300px;
}


/* Responsive at 750px */

@media screen and (max-width: 750px) {
  .right-column {
    display: none;
  }
  .left-column {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .twitter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-icon {
    margin: 0;
  }
  .menu-button {
    margin: auto;
    height: 40px;
    width: 40px;
  }
  .menu-text {
    display: none;
  }
  #tweet-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  #tweet-button .fa-pen {
    display: block;
    margin: auto;
  }
  .tweet-button-text {
    display: none;
  }
  #current-account-column-right {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .messages-window {
    display: none;
  }
}