html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

body {
  background-color: rgb(38, 38, 38);
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.body-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 100px;
}

#game-stats {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 0px;
  width: 50%;
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#board-table {
  border-collapse: collapse;
  border-style: hidden;
}

.main-container td {
  border: 1px solid white;
  height: 150px;
  width: 150px;
}

.game-circle {
  text-align: center;
  border-style: solid;
  border-width: 6px;
  border-radius: 50%;
  border-color: rgb(101, 255, 101);
  width: 50px;
  height: 50px;
  margin: auto;
}

.game-x {
  margin: auto;
  height: auto;
  width: 62px;
}

.game-x:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  font-size: 50px; 
  line-height: 100px;
  text-align: center;
}

#game-footer button {
  margin-top: 50px;
}
